@keyframes textscale {
  0% {
    transform: scale(1);
    letter-spacing: 0px;
  }
  27% {
    transform: scale(1.1);
    letter-spacing: 3px;
  }
  71% {
    transform: scale(1);
    letter-spacing: 0px;
  }

  100% {
    transform: scale(1);
    letter-spacing: 0px;
  }
}   

@keyframes light-circle-scale {
  0% {
    transform: scale(0);
  }
  16% {
    transform: scale(1);
  }
  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes normal-circle-scale {
  0% {
    transform: scale(0);
  }
  11% {
    transform: scale(0);
  }
  32% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes yellow-textscale {
  0% {
    transform: scale(1);
    letter-spacing: 0px;
  }
  6% {
    transform: scale(1.1);
    letter-spacing: 4px;
  }
  22% {
    transform: scale(1);
    letter-spacing: 0px;
  }

  100% {
    transform: scale(1);
    letter-spacing: 0px;
  }
}


@keyframes yellow-circle-scale {
  0% {
    transform: scale(0);
    opacity: 100%;
  }
  16% {
    transform: scale(1);
  }
  70% {
    transform: scale(1);
    opacity: 100%;
  }

  75% {
    transform: scale(1);
    opacity: 0%;
  }

  100% {
    transform: scale(1);
    opacity: 0%;
  }
}

@keyframes about-textscale {
  0% {
    transform: scale(1);
    letter-spacing: 0px;
  }
  20% {
    transform: scale(1.1);
    letter-spacing: 3;
  }
  80% {
    transform: scale(1);
    letter-spacing: 0px;
  }

  100% {
    transform: scale(1);
    letter-spacing: 0;
  }
}   


@keyframes about-light-circle-scale {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes about-normal-circle-scale {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(0);
  }
  60% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

/* Close button */
@keyframes close-button-scale {
  0% {
    width:80px;
  }
  30% {
    width:80px;
  }

  60% {
    width: 0px;
  }

  100% {
    width: 0px;
  }
}  

@keyframes close-light-circle-scale {
  0% {
    transform: scale(0);
  }
  
  80% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes close-normal-circle-scale {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(0);
  }
  
  100% {
    transform: scale(1);
  }
}

.close-button-scale-animation {
  animation: close-button-scale 1s infinite linear;
}

.close-light-circle-scale-animation{
  animation: about-light-circle-scale 1s infinite linear;
}

.close-normal-circle-scale-animation{
  animation: about-normal-circle-scale 1s infinite linear;
}

.about-light-circle-scale-animation{
  animation: about-light-circle-scale 1.5s infinite linear;
}

.about-normal-circle-scale-animation{
  animation: about-normal-circle-scale 1.5s infinite linear;
}

.text-scale-animation {
  animation: textscale 4s infinite ease-in-out;
}

.light-circle-animation {
  animation: light-circle-scale 4s infinite ease-in-out;
}

.normal-circle-animation {
  animation: normal-circle-scale 4s infinite ease-in-out;
}

.yellow-textscale-animation {
  animation: yellow-textscale 8s infinite ease-in-out;  
}

.yellow-circle-scale-animation {
  animation: yellow-circle-scale 8s infinite ease-in-out;  
}

.about-textscale-animation{
  animation: about-textscale 1.5s infinite ease-in-out; 
}

@font-face {
  font-family: Stolzl;
  src: url(../assets/Stolzl/Stolzl-Bold.woff2);
  font-weight: bold;
}

@font-face {
  font-family: Stolzl;
  src: url(../assets/Stolzl/Stolzl-Medium.woff2);
  font-weight: medium;
}



.button-advantages {
  display: flex;
  width: 322px;
  height: 116px;
  border: black;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}



.button-advantages__text {
  margin: auto;
  font-family: "Stolzl";
  font-weight: bold;
  font-style: normal;

  font-size: 24px;
  line-height: 100%;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #000;
}

.light-circle {
  position: absolute;
  /* opacity: 10%; */
  /* top: 50%;
  left: 50%; */
  width: 500px;
  height: 500px;
  background-color: #44bae7;
  border-radius: 50%;
}

.light-circle-yellow {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: #FCCB2B;
  border-radius: 50%;
}

.normal-circle {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: #21b1e7;
  border-radius: 50%;
}

.blue-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 322px;
  height: 116px;
  background-color: #21b1e7;
}


.button-about {
  display: flex;
  width: 281px;
  height: 47px;
  border: black;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;

}

.button-about__text {
  margin: auto;
  font-family: Stolzl;
  font-style: normal;
  font-weight: medium;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;

  color: #000000;
}

.button-close-all{
  display: flex;
  width: 120px;
  height: 120px;
  border: black;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-color: #E93749;
}
 .left-pad{
   position: absolute;
   width: 60px;
   height: 6px;
   background-color: white;
   transform: rotate(45deg);
   transition: .5s;
 }

 /* #container:hover > #cube { background-color: yellow; } */

 /* .button-close-all:hover .left-pad {
  width: 0px;
 }

 .button-close-all:hover .right-pad {
  width: 0px;
 } */

 .right-pad{
  position: absolute;
  width: 60px;
  height: 6px;
  background-color: white;
  transform: rotate(-45deg);
  transition: .5s;
}



.close-light-circle {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #fff;
  opacity: 20%;
  border-radius: 50%;
}


.close-normal-circle {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: #E93749;
  border-radius: 50%;
}